@using Microsoft.AspNetCore.Identity
@using ChurchWeb.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav navbar-nav navbar-right">
    @if (User.Identity.IsAuthenticated)
    {
        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout @User.Identity.Name</a></li>
    }
    else
    {
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
    }
</ul>

